/* .same-products .swiper-button-next::after,
.same-products .swiper-button-prev::after,
.same-products .swiper-button-prev-1::after,
.same-products .swiper-button-next-1::after {
  content: "";
}

.same-products .swiper-button-prev {
  position: absolute;
  left: 95%;
}

.same-products .swiper-button-next {
  position: absolute;
  right: 0%;
}

.same-products .swiper-button-prev-1 {
  position: absolute;
  left: 95%;
}

.same-products .swiper-button-next-1 {
  position: absolute;
  right: 0%;
} */
