.same-products .swiper-button-next::after,
.same-products .swiper-button-prev::after {
  content: "";
}


.same-products .swiper-button-prev {
  position: absolute;
  left: 95%;
}

.same-products .swiper-button-next {
  position: absolute;
  right: 0%;
}
