.product-carusel .thumbs .swiper-wrapper{
    height: 500px; 
}

.product-carusel .thumbs .swiper-slide {
  width: 80px !important;
}

.product-carusel .thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-carusel .thumbs .swiper-slide-thumb-active {
  border: 3px solid rgb(0, 0, 0);
}

/* .product-carusel .product-image .swiper-slide {
  width: 500px;
  height: 500px;
}


.product-carusel .product-image .swiper-wrapper{
    width: 500px; 
} */

/* @media screen and (max-width: ) {
  width: ;
} */